body{
    width: 100vw;
    height: 100vh;
    background-color: var(--black-100);

    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.container{
    display: flex;

    width: 60vw;
    height: 70vh;
    border: solid .125rem var(--gray-300);
    border-radius: 1.5rem;
}

.container__welcome-back{   
    background-color: var(--gray-300);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 45%;
    border-radius: 1.5rem 0 0 1.5rem;
    padding: 4rem 4rem 4rem 6rem;
    gap: 4.5rem;
}

.container__welcome-back h1{
    font-size: 3rem;

    color: var(--light-gray-100);
    text-transform: uppercase;
}

.container__welcome-back p{
    font-size: 2rem;
    
    color: var(--light-gray-800);
}

.container__welcome-back img{
    width: 45rem;
}

.login-section{
    padding: 4rem 6rem 4rem 4rem;
    width: 55%;

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(33, 37, 41, .5);
}

.login-section__header{
    margin-top: 2.5rem;
    margin-bottom: 5rem;
}

.login-section__header h1{
    font-size: 4.5rem;

    text-transform: uppercase;
    color: var(--purple-100);
}

.login-form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin-bottom: 4rem;
    gap: 1.5rem;
}

.login-form__input-container label{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.login-form__input-container label span{
    color: var(--light-gray-100);

    font-size: 2rem;
}

.login-form__input-container label input{
    width: 40rem;
    min-height: 3rem;
    border-radius: 1rem;
    padding: 1rem;
    border: none;

    color: var(--light-gray-100);
    background-color: rgba(108, 117, 125, .5);
    transition: .4s ease-in-out;
}

.login-form__input-container label input:focus,
.login-form__input-container label input:hover{
    border: solid .125rem var(--purple-300);
}

.login-form__input-container:last-of-type{
    margin-bottom: 1rem;
}

.login-form .alert{
    background-color: var(--purple-300);

    padding: 1rem .5rem;
    border-radius: 1rem;
    
}

.login-form .alert p{
    text-align: center;
    color: var(--light-gray-100);

    font-size: 1.2rem;
}

.login-form > button{
    padding: 1.5rem .5rem;
    border-radius: 1rem;
    border: none;
    font-size: 2rem;
    margin-top: 2rem;

    text-transform: uppercase;
    color: var(--light-gray-100);
    background-color: var(--purple-100);
    cursor: pointer;
    transition: background .4s ease-in-out;
}

.login-form > button:hover, .login-form > button:focus{
    background-color: var(--purple-300);
}

.login-section__footer a{
    font-size: 1.5rem;

    text-decoration: none;
    transition: all .4s ease-in-out;
    color: var(--purple-100);
}

.login-section__footer a:hover, .login-section__footer a:focus{
    text-decoration: underline;
    color: var(--purple-300);
}